<div id="nav_area">
    <div id="nav_box">
        <div id="nav_area_left">
            <img src="/public/logo/logo.png" alt="" onclick="location.href='/'">
            <div class="nav_area_service">
                <p>서비스 소개</p>
            </div>
            <div class="nav_area_help">
                <p>도움말</p>
            </div>
            <div class="nav_area_price">
                <p>제품가격</p>
            </div>
        </div>
        <div id="nav_area_right">
            <div class="nav_inquiry_btn">
                문의하기
            </div>
        </div>
    </div>
</div>