<div id="main_area">
    <div id="main_box">
        <div id="main_first_box">
        </div>
        <div id="main_first_box_text">
            <strong>디지털 자료 영구 보관</strong>
            <p>가능한 스토리지 솔루션.</p>
            <img src="/public/logo/mimg01_1.png" alt="" style="margin-top: 20px;">
            <p style="font-weight: 700; font-size: 26px; margin-top: 30px;">비대면 서비스의 첫 걸음은 안전한 자료 저장입니다.</p>
            <p style="font-weight: 700; font-size: 26px; margin-top: 5px;">디지털 경제 시대에 방대한 정보를 'CHAINUS'하세요.</p>
            <button>무료 체험하기</button>
        </div>
    </div>
</div>