<div class="search_result_area">
    <div class="book_detail_box">
        <div class="book_detail_box_left">
            <div class="book_detail_box_top">
                <div class="book_detail_box_top_book_text_box">
                    <p><%=row[0].TITLE%></p>
                    <video  style="width: 500px; height: auto;" src="/uploads/<%=row[0].VIDEO_FILE_NAME%>" autoplay controls loop >
                    </video>
                    <p><%=row[0].CONTENT%></p>
                </div>
            </div>
            <div class="book_detail_box_under">
            </div>
        </div>
        <div class="book_detail_box_right">
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
            <p>채팅내용</p>
        </div>
    </div>
</div>